services:
  db:
    image: postgres:16-alpine
    container_name: senawiki-db
    restart: unless-stopped
    env_file:
      - .env.prod
    ports:
      - "5432:5432"
    volumes:
      - senawiki_db:/var/lib/postgresql/data

  app:
    image: senawiki:latest
    container_name: senawiki-app
    restart: unless-stopped
    env_file:
      - .env.prod
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/postgres
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  senawiki_db:
